In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from scipy import interpolate
import time
%matplotlib inline  
import sys
sys.path.append('/gpfs2/projects/project-bus_capstone_2016/workspace/jz2308/bus-Capstone')

# these two modules are homemade
import gtfs
import arrivals
import ttools
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')

In [11]:
import os
import pandas as pd
import gtfs #homemade module
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')
schedule_samples = ['2015-01-04','2015-04-05','2015-06-27','2015-07-06','2015-09-05','2015-09-15','2015-10-12']
collected = pd.DataFrame()
for sdate in schedule_samples:
    stops = gtfs.load_stops(sdate,'gtfs/')
    stops['schedule_sample_date'] = sdate
    collected = collected.append(stops[['stop_lat','stop_lon','stop_name','schedule_sample_date']].drop_duplicates())

In [13]:
collected.head()

          stop_lat   stop_lon                 stop_name schedule_sample_date
stop_id
300000   40.578209 -73.939697  ORIENTAL BL/MACKENZIE ST           2015-01-04
300002   40.578068 -73.943031    ORIENTAL BL/JAFFRAY ST           2015-01-04
300003   40.577961 -73.944664   ORIENTAL BL/HASTINGS ST           2015-01-04
300004   40.577721 -73.946205   ORIENTAL BL/FALMOUTH ST           2015-01-04
300006   40.577354 -73.949554      ORIENTAL BL/DOVER ST           2015-01-04

In [17]:
reliability_metrics = pd.read_csv('performance.csv',names = ["Line", "stop_id", "schedule_sample_date", "metric1", "metric2", "metric3"])

In [18]:
reliability_metrics.head()

  Line  stop_id schedule_sample_date   metric1         metric2   metric3
0  Q07   350232           2015-01-02  0.831395   0.89156626506  1.000000
1  Q25   550032           2015-01-02  0.520737  0.723880597015  0.760369
2  Q72   552020           2015-01-01  1.000000            None  1.000000
3  Q47   551547           2015-01-02  0.000000             1.0  0.000000
4  Q66   500994           2015-01-30  0.486301  0.601694915254  0.958904

In [41]:
stops_metrics = 
collected.reset_index().merge(stops_metrics)

   stop_id   metric1   metric3
0   100014  0.139963  0.921871
1   100017  0.210164  0.913365
2   100018  0.177457  0.892479
3   100019  0.203798  0.918004
4   100020  0.203381  0.854682

,stop_id,stop_lat,stop_lon,stop_name,schedule_sample_date,metric1,metric3
0,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-01-04,0.153516,0.921430
1,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-04-05,0.153516,0.921430
2,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-06-27,0.153516,0.921430
3,300000,40.578251,-73.939743,ORIENTAL BL/MACKENZIE ST,2015-07-06,0.153516,0.921430
4,300000,40.578251,-73.939743,ORIENTAL BL/MACKENZIE ST,2015-09-05,0.153516,0.921430
5,300000,40.578251,-73.939743,ORIENTAL BL/MACKENZIE ST,2015-09-15,0.153516,0.921430
6,300000,40.578251,-73.939743,ORIENTAL BL/MACKENZIE ST,2015-10-12,0.153516,0.921430
7,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-01-04,0.165377,0.880966
8,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-04-05,0.165377,0.880966
9,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-06-27,0.165377,0.880966
10,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-07-06,0.165377,0.880966
11,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-09-05,0.165377,0.880966
12,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-09-15,0.165377,0.880966
13,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-10-12,0.165377,0.880966
14,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-01-04,0.218306,0.891494
15,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-04-05,0.218306,0.891494
16,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-06-27,0.218306,0.891494
17,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-07-06,0.218306,0.891494
18,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-09-05,0.218306,0.891494
19,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-09-15,0.218306,0.891494
20,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-10-12,0.218306,0.891494
21,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-01-04,0.220851,0.895743
22,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-04-05,0.220851,0.895743
23,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-06-27,0.220851,0.895743
24,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-07-06,0.220851,0.895743
25,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-09-05,0.220851,0.895743
26,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-09-15,0.220851,0.895743
27,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-10-12,0.220851,0.895743
28,300006,40.577354,-73.949554,ORIENTAL BL/DOVER ST,2015-01-04,0.206488,0.902803
29,300006,40.577354,-73.949554,ORIENTAL BL/DOVER ST,2015-04-05,0.206488,0.902803
...,...,...,...,...,...,...,...
106627,803028,40.786003,-73.929115,HELL GATE CIRCLE/NR Tom CLARKE Bldg,2015-09-05,0.101809,0.898983
106628,803028,40.786003,-73.929115,HELL GATE CIRCLE/NR Tom CLARKE Bldg,2015-09-15,0.101809,0.898983
106629,803028,40.786003,-73.929115,HELL GATE CIRCLE/NR Tom CLARKE Bldg,2015-10-12,0.101809,0.898983
106630,803029,40.785069,-73.927071,HELL GATE CIRCLE/Opp ODYSSEY House,2015-09-05,0.103390,0.895170
106631,803029,40.785069,-73.927071,HELL GATE CIRCLE/Opp ODYSSEY House,2015-09-15,0.103390,0.895170
106632,803029,40.785069,-73.927071,HELL GATE CIRCLE/Opp ODYSSEY House,2015-10-12,0.103390,0.895170
106633,803030,40.785973,-73.925606,HELL GATE CIRCLE/FIELD 60/61,2015-09-05,0.131439,0.911430
106634,803030,40.785973,-73.925606,HELL GATE CIRCLE/FIELD 60/61,2015-09-15,0.131439,0.911430
106635,803030,40.785973,-73.925606,HELL GATE CIRCLE/FIELD 60/61,2015-10-12,0.131439,0.911430
106636,803078,40.723438,-73.991226,CHRYSTIE ST/HOUSTON ST,2015-09-05,0.090422,0.928272
106637,803078,40.723438,-73.991226,CHRYSTIE ST/HOUSTON ST,2015-09-15,0.090422,0.928272
106638,803078,40.723438,-73.991226,CHRYSTIE ST/HOUSTON ST,2015-10-12,0.090422,0.928272
106639,802168,40.865452,-73.827812,PARKING RAMP/ACCESS RD,2015-09-15,0.326316,0.817544
106640,802168,40.865452,-73.827812,PARKING RAMP/ACCESS RD,2015-10-12,0.326316,0.817544
106641,802169,40.851543,-73.826492,BRUCKNER BL/WILKINSON AV,2015-09-15,0.294118,1.000000
106642,802169,40.851543,-73.826492,BRUCKNER BL/WILKINSON AV,2015-10-12,0.294118,1.000000
106643,308769,40.647614,-73.881684,PENNSYLVANIA AV / SCHROEDERS AV,2015-09-15,0.000000,1.000000
106644,308769,40.647614,-73.881684,PENNSYLVANIA AV / SCHROEDERS AV,2015-10-12,0.000000,1.000000
106645,553303,40.732464,-73.924319,43 ST/54 AVE,2015-09-15,0.217719,0.861463
106646,553303,40.732464,-73.924319,43 ST/54 AVE,2015-10-12,0.217719,0.861463
106647,553305,40.742156,-73.907591,QUEENS BL/58 ST,2015-09-15,0.089640,0.873086
106648,553305,40.742156,-73.907591,QUEENS BL/58 ST,2015-10-12,0.089640,0.873086
106649,553306,40.765768,-73.940249,VERNON BL/34 AV,2015-09-15,0.380884,0.843009
106650,553306,40.765768,-73.940249,VERNON BL/34 AV,2015-10-12,0.380884,0.843009
106651,981008,40.763469,-73.971286,E 59 ST/MADISON AV,2015-09-15,0.085708,0.939014
106652,981008,40.763469,-73.971286,E 59 ST/MADISON AV,2015-10-12,0.085708,0.939014
106653,981009,40.762087,-73.967965,E 59 ST/LEXINGTON AV,2015-09-15,0.060226,0.967011
106654,981009,40.762087,-73.967965,E 59 ST/LEXINGTON AV,2015-10-12,0.060226,0.967011
106655,901496,40.699810,-73.950340,FLUSHING AV/UNION AV,2015-10-12,0.227273,1.000000
106656,901497,40.699657,-73.956963,WALLABOUT ST/BEDFORD AV,2015-10-12,0.444444,1.000000