In [60]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from scipy import interpolate
import time
import datetime 
%matplotlib inline  
import sys
sys.path.append('/gpfs2/projects/project-bus_capstone_2016/workspace/jz2308/bus-Capstone')

# these two modules are homemade
import gtfs
import arrivals
import ttools
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')

In [81]:
import os
import pandas as pd
import gtfs #homemade module
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')

base = datetime.date(2015, 1, 1)
schedule_samples = [str(base + datetime.timedelta(days=x)) for x in range(0, 365)]
#schedule_samples = ['2015-01-04','2015-04-05','2015-06-27','2015-07-06','2015-09-05','2015-09-15','2015-10-12']
collected = pd.DataFrame()
for sdate in schedule_samples:
    stops = gtfs.load_stops(sdate,'gtfs/')
    stops['schedule_sample_date'] = sdate
    collected = collected.append(stops[['stop_lat','stop_lon','stop_name','schedule_sample_date']].drop_duplicates())

In [83]:
collected.tail()

          stop_lat   stop_lon               stop_name schedule_sample_date
stop_id
985005   40.933637 -73.897818  S BROADWAY/NEW MAIN ST           2015-12-31
985006   40.932045 -73.899141  S BROADWAY/PROSPECT AV           2015-12-31
985007   40.920549 -73.896247    S BROADWAY/McLEAN AV           2015-12-31
985008   40.928762 -73.896532      S BROADWAY/VARK ST           2015-12-31
985009   40.917289 -73.896847   S BROADWAY/RADFORD ST           2015-12-31

In [98]:
reliability_metrics = pd.read_csv('performance.csv',names = ["Line", "stop_id", "schedule_sample_date", "metric1", "metric2", "metric3"])

In [99]:
stops_metrics = collected.reset_index().merge(pd.DataFrame(reliability_metrics.groupby('stop_id').mean()).reset_index())
stops_metrics.groupby('stop_id').mean().head()

          stop_lat   stop_lon   metric1   metric3
stop_id
100014   40.872562 -73.888153  0.139963  0.921871
100017   40.876808 -73.889656  0.210164  0.913365
100018   40.880341 -73.886063  0.177457  0.892479
100019   40.813496 -73.929489  0.203798  0.918004
100020   40.816803 -73.927956  0.203381  0.854682

In [100]:
line_metrics = collected.reset_index().merge(pd.DataFrame(reliability_metrics.groupby('Line').mean()).reset_index())
line_metrics.groupby('Line').mean()

      stop_id   stop_lat   stop_lon   metric1   metric3
Line
B11    306393  40.715317 -73.926804  0.157769  0.902091
B13    403158  40.793163 -73.973091  0.159135  0.904774
B2     301538  40.669373 -73.894783  0.201557  0.889081
B4     301414  40.654175 -73.961624  0.162096  0.895598
B63    306570  40.716343 -73.944763  0.179321  0.926806
B74    305694  40.580181 -73.959732  0.177877  0.900452
B9     303914  40.595181 -73.950478  0.164633  0.874454
BX2    101288  40.849323 -73.915993  0.174458  0.930657
BX27   101865  40.877766 -73.868187  0.205720  0.896509
BX32   102290  40.831039 -73.906036  0.169771  0.931867
BX4    101332  40.837200 -73.887787  0.184386  0.900298
BX8    102087  40.874367 -73.845055  0.188096  0.893124
M10    402143  40.737091 -73.978867  0.196735  0.911713
M23    402846  40.748405 -73.978371  0.181103  0.923256
Q1     503864  40.740906 -73.853600  0.207210  0.908620
Q101   553260  40.682797 -73.820543  0.156791  0.822528
Q102   552134  40.747052 -73.952545  0.145784  0.842476
Q113   551832  40.731934 -73.814648  0.123636  0.848263
Q21    550222  40.678392 -73.807593  0.175368  0.848089
Q22    551146  40.776539 -73.817532  0.157938  0.828637
Q5     502319  40.730206 -73.777145  0.172080  0.889578
Q69    551370  40.740597 -73.930768  0.153510  0.840302
Q76    504545  40.714619 -73.828804  0.178575  0.913971
Q85    504155  40.701454 -73.908577  0.184995  0.881917
QM2    500395  40.693516 -73.735580  0.149824  0.796886
S42    201062  40.624504 -74.079460  0.191376  0.780658
X64    550442  40.693386 -73.852368  0.120308  0.675816
X8     307688  40.692352 -73.919182  0.169059  0.657637
X9     300474  40.607250 -73.962372  0.138212  0.582148

In [ ]:
stops_metrics.to_csv('metrics-by-stop-2015.csv')
line_metrics.to_csv('metrics-by-line-2015.csv')