In [1]:
import os
import pandas as pd
import gtfs #homemade module
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')

In [2]:
# get the sample of parsed AVL data.  Beware, large files take more time.
bustime = pd.read_csv('spark_parse/test2.txt',header=None)

/opt/rh/anaconda/root/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
# beware!  Bonan is still working on organizing the extract files.  these columns may change.
bustime.columns = ['route','lat','lon','timestamp','vehicle_id','trip_id','trip_date','shape_id','next_stop_id','dist_from_stop','stop_dist_on_trip','presentable_dist']

In [4]:
bustime.drop_duplicates(['vehicle_id','timestamp'],inplace=True)
bustime['trip_id'] = bustime['trip_id'].str.replace('MTA NYCT_','')
bustime['trip_id'] = bustime['trip_id'].str.replace('MTABC_','')
bustime.set_index(['route','trip_id','trip_date','vehicle_id','timestamp'],
                  inplace=True,drop=True,verify_integrity=True)

In [5]:
# for demonstration, use a subset. Just get data for one line (M5) on one day.
tripDateLookup = "2015-01-06"
lineLookup = "MTA NYCT_B41"
bustime = bustime.xs((lineLookup,tripDateLookup),level=(0,2),
                           drop_level=False)
# note that the AVL dataframe must be sorted by timestammp, since iloc[]
# selection is used later in this script to find the earliest time
bustime.sort_index(inplace=True)
print 'Finished loading BusTime data and and slicing B41 line.'

Finished loading BusTime data and and slicing B41 line.

In [6]:
# be careful - looks like pandas did not recognize this column to be numeric data
bustime.iloc[1].stop_dist_on_trip

'656.78'

In [7]:
bustime['stop_dist_on_trip'] = bustime['stop_dist_on_trip'].convert_objects(convert_numeric=True)
bustime['dist_from_stop'] = bustime['dist_from_stop'].convert_objects(convert_numeric=True)

In [8]:
bustime['veh_dist_along_trip'] = bustime['stop_dist_on_trip'] - bustime['dist_from_stop']

In [9]:
bustime['veh_dist_along_trip']

route         trip_id                            trip_date   vehicle_id     timestamp
MTA NYCT_B41  FB_A5-Weekday-SDon-004500_B41_1    2015-01-06  MTA NYCT_4233  2015-01-06T00:39:55.000-05:00      618.74
                                                                            2015-01-06T00:40:58.000-05:00      618.74
                                                                            2015-01-06T00:42:02.000-05:00      618.74
                                                                            2015-01-06T00:45:41.000-05:00      239.10
                                                                            2015-01-06T00:46:43.000-05:00      327.11
                                                                            2015-01-06T00:47:45.000-05:00      555.35
                                                                            2015-01-06T00:48:49.000-05:00      764.02
                                                                            2015-01-06T00:49:52.000-05:00     1274.01
                                                                            2015-01-06T00:50:55.000-05:00     1723.94
                                                                            2015-01-06T00:51:57.000-05:00     1916.39
                                                                            2015-01-06T00:53:01.000-05:00     2273.44
                                                                            2015-01-06T00:54:04.000-05:00     2628.51
                                                                            2015-01-06T00:54:36.000-05:00     2707.54
                                                                            2015-01-06T00:55:39.000-05:00     3153.64
                                                                            2015-01-06T00:56:42.000-05:00     3402.89
                                                                            2015-01-06T00:57:45.000-05:00     3423.12
                                                                            2015-01-06T00:58:48.000-05:00     3814.83
                                                                            2015-01-06T00:59:52.000-05:00     4102.09
                                                                            2015-01-06T01:00:55.000-05:00     4495.50
                                                                            2015-01-06T01:01:58.000-05:00     4739.70
                                                                            2015-01-06T01:03:01.000-05:00     4968.50
                                                                            2015-01-06T01:03:33.000-05:00     5041.80
                                                                            2015-01-06T01:04:35.000-05:00     5243.93
                                                                            2015-01-06T01:05:39.000-05:00     5686.49
                                                                            2015-01-06T01:06:41.000-05:00     6014.67
                                                                            2015-01-06T01:07:46.000-05:00     6219.85
                                                                            2015-01-06T01:08:49.000-05:00     6563.62
                                                                            2015-01-06T01:09:52.000-05:00     6756.42
                                                                            2015-01-06T01:10:56.000-05:00     6984.19
                                                                            2015-01-06T01:11:58.000-05:00     7119.30
                                                                                                               ...
              FB_A5-Weekday-SDon-150500_B46_210  2015-01-06  MTA NYCT_5141  2015-01-07T01:34:52.000-05:00     5609.41
                                                                            2015-01-07T01:35:55.000-05:00     5704.22
                                                                            2015-01-07T01:36:59.000-05:00     5936.47
                                                                            2015-01-07T01:37:30.000-05:00     5932.31
                                                                            2015-01-07T01:38:34.000-05:00     6089.92
                                                                            2015-01-07T01:39:37.000-05:00     6196.56
                                                                            2015-01-07T01:40:40.000-05:00     6440.14
                                                                            2015-01-07T01:41:43.000-05:00     6677.85
                                                                            2015-01-07T01:42:47.000-05:00     6935.94
                                                                            2015-01-07T01:43:50.000-05:00     7037.34
                                                                            2015-01-07T01:44:54.000-05:00     7307.77
                                                                            2015-01-07T01:45:57.000-05:00     7498.74
                                                                            2015-01-07T01:46:29.000-05:00     7587.41
                                                                            2015-01-07T01:47:32.000-05:00     7840.44
                                                                            2015-01-07T01:48:36.000-05:00     8279.19
                                                                            2015-01-07T01:49:39.000-05:00     8364.46
                                                                            2015-01-07T01:50:42.000-05:00     8520.01
                                                                            2015-01-07T01:51:46.000-05:00     8599.89
                                                                            2015-01-07T01:52:17.000-05:00     8686.13
                                                                            2015-01-07T01:53:21.000-05:00     8928.81
                                                                            2015-01-07T01:54:25.000-05:00     9377.57
                                                                            2015-01-07T01:55:28.000-05:00     9741.55
                                                                            2015-01-07T01:56:31.000-05:00    10017.90
                                                                            2015-01-07T01:57:35.000-05:00    10437.19
                                                                            2015-01-07T01:58:38.000-05:00    10585.82
                                                                            2015-01-07T01:59:41.000-05:00    10932.63
                                                                            2015-01-07T02:00:45.000-05:00    11315.01
                                                                            2015-01-07T02:01:16.000-05:00    11395.74
                                                                            2015-01-07T02:02:19.000-05:00    11614.79
                                                                            2015-01-07T02:03:22.000-05:00    12033.07
Name: veh_dist_along_trip, dtype: float64

In [12]:
stop_distances = bustime.reset_index().drop_duplicates(['shape_id','next_stop_id','stop_dist_on_trip'])
stop_distances.shape_id = stop_distances.shape_id.str.replace('MTA_','')
stop_distances.next_stop_id = stop_distances.next_stop_id.str.replace('MTA_','')
stop_distances.drop(['route','trip_id','trip_date','vehicle_id','timestamp','lat','lon','dist_from_stop','presentable_dist','veh_dist_along_trip'],axis=1,inplace=True)

In [13]:
# verify that shape_id and next_stop_id is a valid primary key (that is, exactly one value for each index)
sum(stop_distances.duplicated(['shape_id','next_stop_id']))

0

In [14]:
stop_distances = stop_distances.sort(['shape_id','stop_dist_on_trip']).reset_index(drop=True)
stop_distances.head()

  shape_id next_stop_id  stop_dist_on_trip
0  B410227       303270             334.47
1  B410227       303274             950.80
2  B410227       303276            1283.55
3  B410227       303277            1472.70
4  B410227       303222            2087.51

In [15]:
# mean distance between stops on trips
stop_distances.groupby('shape_id')['stop_dist_on_trip'].diff().mean()

375.39760814249365